div{
    height: 50px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: inherit;
    padding: 20px;
    content: icon;
    color: white;
    text-size-adjust: lar;
    
}
