*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(192,192,192,0.9),rgba(192,192,192,0.9)), url(IMG-20240810-WA0003.jpg) ;
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box{
  width: 90%;
  height: 70%;
  max-height: 400px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  padding: 50px 60px 70px;
  text-align: center;
}

.bg{
  width: 90%;
  height: 70%;
  max-height: 400px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  transform: translate(-50%,-50%);
  background: #fff;
  padding: 50px 60px 70px;
  text-align: center;
  opacity: 0.6;
}

.form-box h1{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #e61e1e;
  position: relative;
}

.form-box h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #e61e1e;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translatex(-50%);
}

/*.type-login{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 5%;
}

.type-login button{
  flex-basis: 48%;
  background: #e61e1e;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}*/


.input-field{
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
input{
  width: 100%;
  background: white;
  border: 0;
  outline: 0;
  padding: 18px 15px;
  border-radius: 25px;
}

form p{
  text-align: left;
  font-size: 13px;
}
form p a{
  text-decoration: none;
  color: #3c00a0;
}

.btn-field{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 10%;
}
.btn-field button{
  flex-basis: 48%;
  background: #e61e1e;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.input-group{
  height: 280px;
}